<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("affiliate_settings") %></h1>

<table>
  <tr>
    <th scope="row"><%= t("sender_credit_on_register_amount") %>:</th>
    <td><%= number_to_currency Spree::Config[:sender_credit_on_register_amount] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("recipient_credit_on_register_amount") %>:</th>
    <td><%= number_to_currency Spree::Config[:recipient_credit_on_register_amount] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("sender_credit_on_purchase_amount") %>:</th>
    <td><%= number_to_currency Spree::Config[:sender_credit_on_purchase_amount] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("recipient_credit_on_purchase_amount") %>:</th>
    <td><%= number_to_currency Spree::Config[:recipient_credit_on_purchase_amount] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("sender_credit_percent") %>:</th>
    <td><%= number_to_percentage Spree::Config[:sender_credit_percent] if not Spree::Config[:sender_credit_percent].empty? %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("recipient_credit_product_property") %>:</th>
    <td>
      <% property = Property.find_by_id(Spree::Config[:recipient_credit_product_property].to_i) %>
      <%= property.name if property %>
    </td>
  </tr>
</table>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_affiliate_settings_path %></p>


